<table class="table table-hover bg-table ls-result">
  <thead class="title_table">
    <tr>
      <th class="text-c w-index"><%= t "index" %></th>
      <th class="text-c catagories-name"><%= t "category" %></th>
      <th class="text-c jp-word"><%= t "japanese" %></th>
      <th class="text-c vn-word"><%= t "vietnamese" %></th>
      <th class="text-c"><%= t "edit_word" %></th>
      <th class="text-c"><%= t "delete_word" %></th>
    </tr>
  </thead>
  <tbody>
    <% @words.each_with_index do |word, index| %>
      <tr>
        <td class="text-c">
          <% params[:page] ||= "1" %>
          <%= index_for params[:page], index, Settings.category.per_word %>
        </td>
        <td class="text-l"><%= word.category.name %></td>
        <td class="text-l"><%= word.content %></td>
        <td class="text-l"><% word.answers.each do |answer| %>
        <%= answer.content if answer.is_correct %>
        <% end %></td>
        <td>
          <%= link_to t(".link_update"),
            edit_admin_word_path(word),
            class: "btn btn-warning glyphicon glyphicon-edit" %>
        </td>
        <td>
          <%= link_to t(".link_delete"), [:admin, word],
            method: :delete, data: {confirm: t("sure"),
            remote: true},
            class: "btn btn-danger glyphicon glyphicon-trash" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate %>
