<label><%= t ".question_total" %></label>
<%= @lesson.results.size %>
<%= form_for @lesson do |f| %>
  <ol class="group-lesson">
    <%= f.fields_for :results do |builder| %>
        <%= render "result", f: builder %>
    <% end %>
  </ol>
  <div class="btn-lesson">
    <div class="col-sm-2">
      <%= f.submit t(".lesson_btn_submit"), class: "btn btn-primary button" %>
    </div>
  </div>
<% end %>
