<% provide :title, (t ".alluser") %>
<h1><%= t ".alluser" %></h1>
<%= form_tag admin_users_path, method: :get do %>
  <div class="form-group row">
    <div class="col-xs-6">
      <%= text_field_tag :search, params[:search], class: "form-control",
        placeholder: (t".search_title") %>
    </div>
  </div>
<% end %>
<table class="table table-hover bg-table ls-users">
  <thead class="title_table">
    <tr>
      <th class="text-c"><%= t ".index" %></th>
      <th class="text-c"><%= t ".avatar" %></th>
      <th class="text-c"><%= t ".name" %></th>
      <th class="text-c"><%= t ".created_date" %></th>
      <th class="text-c"><%= t ".link_delete" %></th>
    </tr>
  </thead>
  <tbody>
      <% @users.each.with_index do |user, index| %>
        <tr>
          <td class="text-c">
            <% params[:page] ||= "1" %>
            <%= index_for params[:page], index, Settings.admin.users.per_page %>
          </td>
          <td class="text-c"><%= gravatar_for user,
            size: Settings.admin.users.image_size %>
          </td>
          <td class="text-c"><%= link_to user.name, user %></td>
          <td class="text-c"><%= user.created_at
            .strftime(t"time.formats.short_datetime") %></td>
          <td class="text-c">
            <% if current_user.is_admin? && !current_user.current_user?(user) %>
              <%= link_to raw("<span class='glyphicon glyphicon-trash
                text-danger'></span>"), [:admin, user], method: :delete,
                data: {confirm: t(".confirm_delete")} %>
            <% end %>
          </td>
        </tr>
      <% end %>
  </tbody>
</table>
<%= will_paginate %>
